body {
    margin: 200px;
    margin-top: 50px;
    background-color: #f0f0f0;
}

h1 {
    font-family: "Namdhinggo", serif;
    font-weight: 900;
    font-style: normal;
    font-size: 50px;
}

h2 {
    font-family: "Namdhinggo", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
}

p {
    font-family: "Namdhinggo", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}

a {
    font-family: inherit;
    font-size: inherit;
    text-decoration: solid;
}

#thebigone {
  position: relative;
}

#disease-triangle-canvas {
  display: block;
  margin: auto;
  background-color: #f0f0f0;
}

.popup-container {
  display: none;
  position: absolute;
  border: none; /* Remove border */
  padding: 20px;
  z-index: 1000;
  border-radius: 10px; /* Add rounded edges */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add slight shadow */
  animation: fadeIn 0.5s ease-in-out; /* Add fade in and fade out animation */
  max-width: 400px;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


.popup-content {
  position: relative;
}

.popup-content h2 {
  font-size: 19px; /* Custom font size for h1 */
}

.popup-content p {
  font-size: 12px; /* Custom font size for p */
}


.popup-close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

/* Individual styling for each colored popup */
.popup-container-blue {
  background-color: #70C1FF; /* Blue color */
  left: -100px; /* Adjust position for blue popup */
  top: 50%; /* Center vertically */
  transform: translateY(-50%);
}

.popup-container-green {
  background-color: #B8BC8A; /* Green color */
  right: -100px; /* Adjust position for green popup */
  top: 50%; /* Center vertically */
  transform: translateY(-50%);
}

.popup-container-pink {
  background-color: #FFA69E; /* Pink color */
  bottom: -140px; /* Adjust position for pink popup */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%);
}

#botrytis-timelapse {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 10px;
}

.namdhinggo-regular {
    font-family: "Namdhinggo", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .namdhinggo-medium {
    font-family: "Namdhinggo", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .namdhinggo-semibold {
    font-family: "Namdhinggo", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .namdhinggo-bold {
    font-family: "Namdhinggo", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .namdhinggo-extrabold {
    font-family: "Namdhinggo", serif;
    font-weight: 800;
    font-style: normal;
  }
  